---
# WARNING: This file is controlled by the bot at https://gitlab.com/guardianproject-ops/projects
#          Any changes you make to this file will be overwritten.
#          Create the file .gitlab-ci.local.yml with your local pipeline.
include:
  - local: .gitlab-ci.local.yml
    rules:
      - exists:
        - .gitlab-ci.local.yml
  - project: renovate-bot/renovate-runner
    file: /templates/renovate-config-validator.gitlab-ci.yml
    ref: v19.89.0
  - project: guardianproject-ops/projects
    ref: main
    file: terraform_templates/tf-module.gitlab-ci.yml
